*
!*/


!*.cpp
!*.cc
!*.h
!*.hpp
!*.md
!*.tex
!*.py
!Theoretical/*/*.tex
!*.bib
!*/*/figure/*.png
!Makefile
!Doxyfile
!*.dox
!*.tpp

python/*
tmp/*
Programming/Chapter1/latex/*
Programming/Chapter1/html/*
Programming/Chapter2/latex/*
Programming/Chapter2/html/*
!Programming/Chapter3/src/*
!Programming/Chapter3/doc/report.pdf