*
!*/


!*.cpp
!*.cc
!*.h
!*.hpp
!*.mds
!*.tex
!*.py
!Theoretical/*/*.tex
!*.bib
!*/*/figure/*.png
!Makefile
!Doxyfile

python/*
tmp/*
Programming/Chapter1/latex/*
Programming/Chapter1/html/*
Programming/Chapter2/latex/*
Programming/Chapter2/html/*